%h1 Listing ratings

%table
  %thead
    %tr
      %th Score
      %th User
      %th Shirt
      %th Rated on dts
      %th
      %th
      %th

  %tbody
    - @ratings.each do |rating|
      %tr
        %td= rating.score
        %td= rating.user_id
        %td= rating.shirt_id
        %td= rating.rated_on_dts
